cloud_id                 = "cloud_id"
folder_id                = "folder_id"
zone                     = "ru-central1-c"
image_id                 = "fd8g17150trtl64i5i0k"
subnet_id                = "b0cnunlut438e9ntfb0u"
service_account_key_file = "/Users/andrey/Develop/devops/AndreyAndreevich_infra/.creds/key.json"
public_key_path          = "~/.ssh/id_rsa.pub"
private_key_path         = "~/.ssh/id_rsa"
