cloud_id                 = "cloud_id"
folder_id                = "folder_id"
zone                     = "ru-central1-a"
service_account_key_file = "key.json"
public_key_path          = "~/.ssh/yc.pub"
private_key_path         = "~/.ssh/yc"
app_disk_image           = "fd816aoo7ov5nsql619m"
db_disk_image            = "fd8rgs3d0ore42blko7n"
subnet_id                = "e9bvo2vkn5pk256j2m5n"
